.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: x-large;
  background-color: #282c34;
}

.center-div {
  display: flex;
  height: 100vh;
  text-align: left;
  flex-direction: column;
}

.title {
  text-align: center;
  margin: 20px 0px;
}

.set-button {
  height: 30px;
  width: 150px;
  align-self: center;
  text-align: center;
  margin: 20px 0px;
}

.epoch-input {
  margin: 20px;
  width: 200px;
  text-indent: 8px;
  font-size: var(--font-size);
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
}
.epoch-input:focus {
	outline:0;
  border: 1px solid rgb(88, 88, 255);
}

.iso-input {
  margin: 20px;
  width: 320px;
  text-indent: 8px;
  font-size: var(--font-size);
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
}
.iso-input:focus {
	outline:0;
  border: 1px solid rgb(88, 88, 255);
}

.human-readable-time {
  margin: 10px 0px;
}
